.square {
    width: 300px;
    height: 300px;
    border: red 2px solid;
    animation: animacion 2s infinite;
    position: relative;
}

@keyframes animacion {
    0% {
        background-color: red;
        left: 0%;
    }
    50% {
        background-color: blue;
        left: 50%;
        border-radius: 25%;
    }
    100% {
        background-color: green;
        left: 80;
        border-radius: 50%;
    }
}